body {
    background-color: #f3ecd0;
}
div {
    border: none;
    margin: 12px 5px;
}

div label{
    width: 150px;
}
#listedContent {
    width: 540px;
    padding: 20px;
    margin: 020px auto;
    background-color: white;
}
#listPane {
    
    width: 440px;
    display: inline-table;
}
#viewAddEditPane {
    width: 340px;
    display: inline-table;
}
nav ul {
    list-style: none;
    margin: 40px;
    font-size: 20px;
    padding: 0;
}

.postalCodeWarning {
    display: none;
    color: red;
  }


input{
    width: 250px;
}

select{
    height: 30px;
    width: 195px;
}
header {
    background-color: #f7f5f5;
    color: #000000;
    padding: 10px 0;
}

header img {
    height: 150px;
    width: 150px;
    margin-left: 20px;
}
.centercontent {
    display: flex;
    justify-content: center;
    align-items: center;
  }

#addnew{
    margin: 30px;
    padding: auto;
    width: 90px;
    height: 40px;
}

textarea{
    width: 250px;
}