body {
    background-color: #9fe8f5;
}
div {
    border: none;
    margin: 12px 5px;
}
#listedContent {
    width: 540px;
    padding: 20px;
    margin: 020px auto;
    background-color: white;
}
#listPane {
    
    width: 140px;
    display: inline-table;
}
#viewAddEditPane {
    width: 340px;
    display: inline-table;
}


header {
    background-color: #f7f5f5;
    color: #000000;
    padding: 10px 0;
}

header img {
    height: 150px;
    width: 150px;
    margin-left: 20px;
}
