body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

div {
    border: none;
    margin: 5px 5px;
}

/** keep main from going under the footer */
main {
    width: 100%;
    overflow: hidden;
    padding-bottom: 50px;

}


#listedContent {
    width: 540px;
    padding: 20px;
    margin: 20px auto;
    background-color: white;
}


#listPane {
    
    width: 140px;
    display: inline-table;
}



#viewAddEditPane {
    width: 340px;
    display: inline-table;
}


header {
    background-color: #f7f5f5;
    color: #000000;
    position: relative;
    height: 200px;
}

header img {
    height: 210px;
    width: auto;
    margin-left: 5px;
    margin-bottom: 5px;
}

nav {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 15px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}



.search-bar {
    margin: 20px 0;
}

.input-group {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

#postcodeSearchBox, #industrySearchBox {
    border: none;
    box-shadow: none;
}

#searchBtn {
    color: white;
    background-color: #ec3d3d;
}

#searchBtn:hover {
    background-color: #a01c1c;
}

#loginBtn {
    color: white;
    background-color: #ec3d3d;
}

#loginBtn:hover {
    background-color: #a01c1c;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#jobListings .col-12 {
    display: flex;
    justify-content: center;
}

#jobListings .row {
    /* border: 1px solid #ccc; */
    padding: 20px;
    margin-bottom: 20px;
    /* background-color: rgb(253, 247, 207); */
}

.job-card {
    width: 50%;
    margin: auto;
}


.card {
    background-color: #ffadad; /* change this to the color you want */
}


.job-card .card {
    background-color: #f5f5f5; /* change this to the color you want */
    width:100%; 
    height: 175px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.job-card:hover .card {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    border: 2px solid #f5cc80;
    
}

/* glassmorphism style */
.job-card .card-header {
    background-color: #ec3d3d; /* change this to the color you want */
    color: white; /* this changes the color of the text in the header */
    border-radius: 10px 10px 0 0;
    padding: 5px;
    font-size: 1.3rem;
}




.card-header {
    color: rgb(0, 0, 0); /* this changes the color of the text in the header */
}



#loadMore {
    display: block;
    width: 100%;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
