body {
    background-color: #9fe8f5;
}
div {
    border: none;
    margin: 12px 5px;
}
#listedContent {
    width: 840px;
    padding: 20px;
    margin: 020px auto;
    background-color: white;
}
#listPane {
    
    width: 140px;
    display: inline-table;
}
#viewAddEditPane {
    width: 340px;
    display: inline-table;
}
