<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkRight Postings Admin Page</title>
    <link rel="icon" type="image/x-icon" href="./images/favicon.png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./styles/main.css">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="./scripts/adminjobs.js">

    </script>
</head>

<body>

    <body>
        <header>
            <div>
                <a href="index.html">
                <img src="./images/logo_transparent.png" alt="Logo">
                </a>
                <nav>
                    <ul>
                        <li><a href="./jobs.html">Job Listings</a></li>
                        <li><a href="./loginTest.html">Job Seekers</a></li>
                        <li><a href="./loginTest.html">Employers</a></li>
                        <button id="signOut">Sign Out</button>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="hero-image">
            <div class="hero-text">
                <h4>With over 2.3 billion visitors, WorkRight is the #1 destination to find and list incredible jobs.
                </h4>
                <button>WorkRight</button>
            </div>
        </div>
        <div class="usersTable container p-3">
            <div class="row">
                <div class="col-4">
                    <h1>Manage Job Postings</h1>

                    <div class="form-group">
                        <label for="jobId">WorkRight Posting Identifier:</label>
                        <input type="text" class="form-control" id="jobId" placeholder="Select a Posting from the List"
                            disabled>
                        <label for="companyId">Company Id of Posting:</label>
                        <input type="text" class="form-control" id="companyId"
                            placeholder="Select a Posting from the List" disabled>

                    </div>
                    <div class="form-group">
                        <label for="jobTitle" id="titleLbl">Title:</label>
                        <input type="text" class="form-control" id="jobTitle" placeholder="Job Title">
                    </div>
                    <div class="form-group">
                        <label for="postCode">Postal Code</label>
                        <input type="text" class="form-control" id="postCode" placeholder="Postal Code">
                    </div>
                    <div class="form-group">

                        <label for="industry">Industry: </label>
                        <select id="industry">
                            <option value="Finance">Finance</option>
                            <option value="Medical">Medical</option>
                            <option value="Agriculture">Agriculture</option>
                            <option value="Information" selected="selected">Information</option>
                            <option value="Catering">Catering</option>
                            <option value="Transportation">Transportation</option>
                            <option value="Insurance">Insurance</option>
                            <option value="Customer Service">Customer Service</option>
                        </select>
                    </div>


                    <button type="submit" class="editBtn">Edit Posting</button>
                    <button type="submit" class="cancelBtn">Cancel</button>
                    <br>
                    <button type="submit" class="deleteBtn mt-2 mb-2">Delete Posting</button>
                    <br>
                    <p class="p-3" id="resultMessage"></p>


                </div>
                <div class="col-4">

                    <h1>Job Postings</h1>
                    <br>
                    <div class="d-flex justify-content-between">
                        <button id="previousPage" disabled>Previous Page</button>
                        <button id="nextPage">Next Page</button>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>

                                <th scope="col">Job Id</th>
                                <th scope="col">Company Id</th>
                                <th scope="col">Title</th>
                                <th scope="col">Industry</th>

                            </tr>
                        </thead>
                        <tbody id="tableBody">

                        </tbody>
                    </table>

                </div>

                <div class="col-1">

                </div>
                <div class="col-3 align-content-center" id="rolePane" style="display: none">
                    <div id="roleDisplay">
                        <h2 class="bg-dark p-2 text-light bg-opacity-50">Admin Account</h2>
                    </div>
                    <h4 id="welcomeBack">
                        </h3>
                        <h4 id="nameP">
                            </h3>
                            <div class="col d-flex justify-content-center align-items-center">
                                <button id="toUsers">Manage Users</button>
                            </div>
                            <div class="col d-flex justify-content-center align-items-center">
                                <button id="toCompanies">Manage Companies</button>
                            </div>
                </div>
            </div>
            <footer>
                <div>
                    <p>WorkRight &copy; 2023</p>
                </div>
            </footer>
        </div>
    </body>

</html>