<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Work Right</title>
    <link rel="icon" type="image/x-icon" href="./images/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles/main.css">
    <script src="./scripts/authTestAdmin.js">
        // $(document).ready(function () {
        //     $("#user").on("click", function () {
        //         window.open('users.html', '_self');
        //     });
        //     $("#company").on("click", function () {
        //         window.open('companies.html?id=0', '_self');
        //     });
        // });
    </script>
</head>

<body>

    <header>
        <div>
            <img src="./images/logo_transparent.png" alt="Logo">
            <nav>
                <ul>
                    <li><a href="#">Job Listings</a></li>
                    <li><a href="#">Job Seekers</a></li>
                    <li><a href="#">Employers</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="hero-image">
        <div class="hero-text">
            <h4>With over 2.3 billion visitors, WorkRight is the #1 destination to find and list incredible tech jobs.
            </h4>
            <button>Update my Deteils</button>
        </div>
    </div>
    <div style="height: 450px; align-items: center;">
        <button id="user">To User Table</button>
        <button id="company">Add Company</button>

    </div>
    <br>
    <br>
    <br>
    <h1>You've reached a job-seeker page</h1>
    <h1>You've reached an employer page</h1>
    <h1>You've reached an admin page page</h1>
    
    <div class="container p-3" id="profile" style="display: none">
        <div class="row p-3">
            <div class="col-4 p-3">
                
            </div>
            <div class="col-4 p-3">
                <h3 id="welcomeBack"></h3>
                <h3 id="nameP"></h3>
                <p>Your industry: Finance</p>
                <p>Current Applications: 3</p>
                <p>Recent postings in your field: 5</p>
                <p>Jobs headquarted in your commute: 2</p>
            </div>
            <div class="col-4 p-3">

            </div>
        </div>

    </div>
    <br>
    <br>
    <br>
    <footer>
        <div>
            <p>WorkRight &copy; 2023</p>
        </div>
    </footer>
</body>

</html>