<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Company</title>
        <link rel="icon" type="image/x-icon" href="./images/favicon.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="styles/styles.css">
        <link rel="stylesheet" href="styles/companies.css">
        <script src="./scripts/companies.js"> </script>

    </head>
    <body>

        <header>
            <div>
                <img src="/images/logo_transparent.png" alt="Logo">
                <nav>
                    <ul>
                        <li><a href="#">Job Listings</a></li>
                        <li><a href="#">Job Seekers</a></li>
                        <li><a href="#">Employers</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    
        <div id="popupMessage" style="display: none;">
            <p>You company is succes added.</p>
        </div>
            <div id="listPane">
                    <div>
                        <label for="companyname">Company Name: </label>
                        <input type="text" id = "companyname" required>
                        <p class="nameWarning" style="color: red;">Not a valid company name</p>
                    </div>
                        <label for="desc">Description: </label>
                        <textarea id = "desc" ></textarea>
                    <div>
                    <label for="industry">Industry: </label>
                        <select id="industry">
                            <option value="Finance">Finance</option>
                            <option value="Medical">Medical</option>
                            <option value="Agriculture">Agriculture</option>
                            <option value="Information">Information</option>
                            <option value="Catering">Catering</option>
                            <option value="Transportation">Transportation</option>
                            <option value="Insurance">Insurance</option>
                            <option value="Customer Service">Customer Service</option>
                        </select>
                    </div>
                    <div>
                        <label for="streetno">Street No: </label>
                        <input type="text" id = "streetno" >
                        <p class="streetnowarn"></p>
                    </div>
                    <div>
                        <label for="street">Street: </label>
                        <input type="text" id = "street" >
                    </div>
                    <div>
                        <label for="city">City: </label>
                        <input type="text" id = "city" >
                    </div>
                    <div>
                        <label for="province">Province: </label>
                        <select id="province">
                            <option value="Alberta">Alberta</option>
                            <option value="British Columbia">British Columbia</option>
                            <option value="Manitoba">Manitoba</option>
                            <option value="New Brunswick">New Brunswick</option>
                            <option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
                            <option value="Nova Scotia">Nova Scotia</option>
                            <option value="Ontario">Ontario</option>
                            <option value="Prince Edward Island">Prince Edward Island</option>
                            <option value="Quebec">Quebec</option>
                            <option value="Saskatchewa">Saskatchewa</option>
                        </select>
                    </div>
                    <div>
                        <label for="postcode">Postcode: </label>
                        <input type="text" id = "postcode" >
                        <p class="postalCodeWarning">Not a valid postal code</p>
                    </div>
                    <div class="centercontent">
                        <button id="modify">Add</button>
                    </div>

            </div>
        </div>
        <footer>
            <div>
                <p>WorkRight &copy; 2023</p>
            </div>
        </footer>
    </body>
</html>