<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Find jobs</title>
        <link rel="icon" type="image/x-icon" href="./images/favicon.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./styles/companies.css">


        <script>
            $(document).ready(function () {
                const queryString = window.location.search;

                const urlParams = new URLSearchParams(queryString);
                const id = urlParams.get('id');
                console.log("id = " + id);
                refreshTodoList(id);

                $.ajax({
                    url:"/api/companies/"+id,
                    type:"GET",
                    dataType:"json",
                    error: function (jqxhr, status, errorThrown) {
                        alert("AJAX error: " + jqxhr.responseText);
                        }
                }).done(function(company){
                    $("#companyTitle").html(company.name);
                });
            });

            //refreshTodoList
            function refreshTodoList(id) {
                //http://localhost:7077/api/allcompanies/jobs/29
                $.ajax({
                    url:"/api/allcompanies/jobs/"+id,
                    type:"GET",
                    dataType:"json",
                    error: function (jqxhr, status, errorThrown) {
                        alert("AJAX error: " + jqxhr.responseText);
                        }
                }).done(function(jobs){
                    jobs.forEach(job => {
                        var datetime = new Date(job.createDate);
                            var formattedDatetime = datetime.toLocaleString('en-US', {
                                year: 'numeric',
                                month: '2-digit',
                                day: '2-digit',
                                hour: '2-digit',
                                minute: '2-digit',
                                second: '2-digit'
                            });
                        $('#jobListings').append(`
                        <div class="job-card col-md-6 job-listing" data-id="${job.jobId}" onclick="selectItem(${job.jobId})">
                        <div class="card">
                                    <div class="card-header">The job title is: ${job.title}</div>
                                    <div class="card-body">
                                        <h5 class="card-title">This job is in ${job.industry} industry</h5>
                                        <p class="card-text">Job descriptiong as :${job.description}</p>
                                        <p class="card-text">Salary is : $${job.salary}/hour</p>
                                        <p class="card-text">Job type is : ${job.type}</p>
                                        <p class="card-text">This job status is : ${job.status}</p>
                                        <p class="card-text">Create at : ${job.formattedDatetime}</p>
                                    </div>
                                </div>
                            </div>
                        `);
                    });
                            
                    // var result = '<tr><th>title</th><th>Description</th><th>Industry</th><th>salary</th><th>type</th><th>status</th><th>createDate</th></tr>';
                    // for (var i = 0; i < jobs.length; i++) {
                    //     var job = jobs[i];

                    //     if(job.createDate){
                    //         var datetime = new Date(job.createDate);
                    //         var formattedDatetime = datetime.toLocaleString('en-US', {
                    //             year: 'numeric',
                    //             month: '2-digit',
                    //             day: '2-digit',
                    //             hour: '2-digit',
                    //             minute: '2-digit',
                    //             second: '2-digit'
                    //         });
                    //     }
                    //     result += '<tr>';
                    //     result += '<td>' + job.title + '</td>';
                    //     result += '<td>' + job.description + '</td>';
                    //     result += '<td>' + job.industry + '</td>';
                    //     result += '<td>' + job.salary + '</td>';
                    //     result += '<td>' + job.type + '</td>';
                    //     result += '<td>' + job.status + '</td>';
                    //     result += '<td>' + formattedDatetime + '</td>';
                    //     result += '</tr>' + "\n";
                    // }
                    $("#sumery").text(jobs[0].name + " have " + jobs.length + " jobs posted as following:");
                    $("#listTable").html(result);
                });
            }

        </script>
    </head>
    <body>

        <header>
            <div>
                <img src="/images/logo_transparent.png" alt="Logo">
                <nav>
                    <ul>
                        <li><a href="./jobs.html">Job Listings</a></li>
                        <li><a href="./logintest.html">Job Seekers</a></li>
                        <li><a href="./logintest.html">Employers</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="container" style="display: flex;justify-content: center;align-items: center;">
        <h1 id="companyTitle">Company Name</h1>
        </div>
        <div class="container" style="width: 90%; margin: auto;">
            <div id="jobListings" class="row">
                    <!-- // jobs listings apended here -->
            </div>
            
        </div>
        <!--<div id="centerContent">
            <div id="listPane">
                <h4 id="sumery"></h4>
                <table id="listTable" border="1"></table>
            </div>
        </div>-->

        <footer>
            <div>
                <p>WorkRight &copy; 2023</p>
            </div>
        </footer>
    </body>
</html>