<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Companies</title>
        <link rel="icon" type="image/x-icon" href="./images/favicon.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="styles/companies.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {
                refreshTodoList();

                $(document).ready(function() {
                    $('tr').dblclick(function() {
                    console.log('Double click event triggered on the table row.');
                    // Add your custom logic here
                    });
                });
            });

            //refreshTodoList
            function refreshTodoList(params) {
                $.ajax({
                    url:"/api/allcompanies",
                    type:"GET",
                    dataType:"json",
                    error: function (jqxhr, status, errorThrown) {
                        alert("AJAX error: " + jqxhr.responseText);
                        }
                }).done(function(companiesList){
                    var result = '<tr><th>Name</th><th>Description</th><th>Industry</th></tr>';
                    for (var i = 0; i < companiesList.length; i++) {
                        var company = companiesList[i];
                        result += '<tr onclick="selectItem(' + company.ID + ')">';
                        result += '<td>' + company.name + '</td>';
                        result += '<td>' + company.description + '</td>';
                        result += '<td>' + company.industry + '</td>';
                        result += '</tr>' + "\n";
                    }
                    $("#listTable").html(result);
                });
            }
            //when click one row
            function selectItem(id) {
                console.log('single click event triggered on the table row.');
                console.log("id = "+ id);
                //window.open('companies.html?id='+id, '_self');
            }

        </script>
    </head>
    <body>

        <header>
            <div>
                <img src="/images/logo_transparent.png" alt="Logo">
                <nav>
                    <ul>
                        <li><a href="#">Job Listings</a></li>
                        <li><a href="#">Job Seekers</a></li>
                        <li><a href="#">Employers</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div id="centerContent">
            <div id="listPane">
                <button id="addNewCompany">Add New</button><br><br>
                <table id="listTable" border="1"></table>
            </div>
            <div id="viewAddEditPane">
                Current Job available for: <span id="companyName"></span><br>

                Title: <span id="title"></span><br>
                Description: <span id="desc"></span><br>
                Industry: <span id="industry"></span><br>
                postCode: <span id="postCode"></span><br>
                Salary: <span id="salary"></span><br>
                type: <span id="type"></span><br>
                Status: <span id="status"></span><br>
                Create Date: <span id="createDate"></span><br>
            </div>
        </div>

        <footer>
            <div>
                <p>WorkRight &copy; 2023</p>
            </div>
        </footer>
    </body>
</html>