<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkRight Employer Dashboard</title>
    <link rel="icon" type="image/x-icon" href="./images/favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" target=_blank
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" target=_blank href="./styles/main.css">
    <link target=_blank href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


    <script src="./scripts/employerDashboard.js">


    </script>

</head>

<body>
    <div id="popupMessage" style="display: none;">
        <p>Congratulations.</p>
        <p>Your profile is updated.</p>
    </div>

    <div id="deletepopupMessage" style="display: none;">
        <p>Are you sure you want to delete this User.</p>
    </div>

    <header>
        <div>
            <a href="index.html">
                <img src="./images/logo_transparent.png" alt="Logo">
            </a>
            <nav>
                <ul>
                    <li><a href="./jobs.html">Job Listings</a></li>
                    <li><a href="./loginTest.html">Job Seekers</a></li>
                    <li><a href="./loginTest.html">Employers</a></li>
                    <button id="signOut">Sign Out</button>
                </ul>
            </nav>
        </div>
    </header>


    <div class="hero-image">
        <div class="hero-text">
            <h4>With over 2.3 billion visitors, WorkRight is the #1 destination to find and list incredible jobs.
            </h4>
            <button>WorkRight</button>
        </div>
    </div>
    <div class="container p-3">
        <div class="row">
            <div class="col-4 p-3" id="rolePane" style="display: none">
                <div id="roleDisplay">
                    <h2 class="bg-dark p-2 text-light bg-opacity-50">Employer</h2>
                </div>
                <h3 id="welcomeBack"></h3>
                <h3 id="nameP"></h3>
                <p>Your industry: Agriculture</p>
                <p>Current Applicants to your open positions: 5</p>
                <p>Recent candidates looking for work in your industry: 22</p>
                <p>Candidates searching for work near you: 8</p>
            </div>
            <div class="col-4 p-3">
                <h3>Latest Job Candidates</h3>
                <thead>
                    <tr>

                        <th scope="col">First Name Last Name</th>
                        <th scope="col">Industry</th>
                        <th scope="col">Date Posted</th>

                    </tr>
                </thead>
                <tbody id="tableBody">

                </tbody>
            </div>
            <div class="container p-3">
                <div class="row">
                    
                    <div class="col d-flex justify-content-center align-items-center">
                        <button class="linkBtn" id="toCompanyEdit">Edit your Company's Profile</button>
                    </div>


                    <div class="col-4 p-3">
                        <h3> Your Latest Job Postings</h3>
                        <thead>
                            <tr>

                                <th scope="col">Job Title</th>
                                <th scope="col">Status</th>
                                <th scope="col">Date Posted</th>

                            </tr>
                        </thead>
                        <tbody id="tableBody">

                        </tbody>
                    </div>
                    <div class="col-4 p-3">
                        <h1>Edit Your Personal Profile</h1>

                        <div class="form-group">

                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="username"
                                placeholder="Enter new username for user">
                            <p class="nameWarning" style="color: red;">Not a valid user name</p>
                            <p class="namepopWarning" style="color: red;">User name already exist.</p>
                        </div>
                        <div class="form-group">
                            <label for="password" id="passLbl">Password:</label>
                            <input type="text" class="form-control" id="password" placeholder="Enter password">
                            <p class="passwordWarning" style="color: red;">Password has to be Minimum eight characters,
                                at least
                                one letter and one number</p>
                        </div>
                        <div class="form-group">
                            <label for="firstName">First Name:</label>
                            <input type="text" class="form-control" id="firstName" placeholder="Enter First Name">
                            <p class="fnameWarning" style="color: red;">Not a valid first name</p>
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name:</label>
                            <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name">
                            <p class="lnameWarning" style="color: red;">Not a valid last name</p>
                        </div>
                        <div class="form-group">
                            <label for="role">Role</label>
                            <select id="role">
                                <option value="user" selected="selected">User</option>
                                <option value="employer">Employer</option>
                                <!--<option value="admin">Admin</option>   I guess admin doesn't use this window, so users and employer don't have this option-->
                            </select>
                        </div>
                        <button type="submit" id="edit" class="editBtn">Edit Profile</button>
                        <button type="submit" id="cancel" class="cancelBtn">Cancel</button>
                        <br>
                        
                        <p class="p-3" id="resultMessage"></p>
                        <h5><em>Please note: you must contact an administrator should you wish to delete your account. We apologize for the inconvenience.</em></h5>


                    </div>

                </div>
            </div>

</body>

</html>