<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkRight Employee Dashboard</title>
    <link rel="icon" type="image/x-icon" href="./images/favicon.png">
    <link rel="stylesheet" target=_blank href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" target=_blank href="./styles/main.css">
    <link target=_blank href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(document).ready(function () {

            $("#signOut").on("click", function () {
            sessionStorage.setItem('username', "");
            sessionStorage.setItem('password', "");
            window.location.href = "./logintest.html"
        });

            refreshPage();
            const queryString = window.location.search;

            $.ajax({
                url: "/api/users/me",
                headers: { 'x-auth-username': sessionStorage.getItem('username'), 'x-auth-password': sessionStorage.getItem('password') },
                type: "GET",
                dataType: "json",
                // ContentType: "application/json",
                error: function (jqxhr, status, errorThrown) {
                    alert("AJAX error: " + jqxhr.responseText);
                    setTimeout(() => {
                        window.location.href = "./loginTest.html"
                    }, 3000);
                }
            }).done(function (account) {
                console.log(account);
                $("#welcomeBack").html("Welcome back " + account.username);
                $("#nameP").html("<em>Job Finder</em>,<br>" + account.firstName + " " + account.lastName);
                $("#rolePane").fadeIn(3000);
                $("#userIndustry").html("Your Industry: " + account.industry);
            });

            const urlParams = new URLSearchParams(queryString);
            const id = urlParams.get('id');
            console.log("id = " + id);
            getUser(id);

            $("#edit").on("click", function () {
                $("#currentId").hide();
                update(id);

            });

            $(".linkBtn").css({
                "border": "none",
                "outline": "0",
                "display": "inline-block",
                "padding": "15px 25px",
                "margin-top": "40px",
                "color": "rgb(250, 248, 248)",
                "background-color": "#ec3d3d",
                "border-radius": "2%",
                "text-align": "center",
                "cursor": "pointer"
            });
            $(".linkBtn").hover(function () {
                $(this).css("background-color", "#a01c1c")
            }, function () {
                $(this).css("background-color", "#ec3d3d")
            })

            $("#toJobs").on("click", function () {
                window.location.href = "./jobs.html"
            })
            $("#toCompanies").on("click", function () {
                window.location.href = "./allcompanies.html"
            })

            $('#delete').on("click", function () {
                $("#deletepopupMessage").dialog({
                    modal: true,
                    buttons: {
                        Yes: function () {
                            $.ajax({
                                url: "/api/users/" + id,
                                type: "delete",
                                dataType: "json",
                                error: function (jqxhr, status, errorThrown) {
                                    alert("AJAX error: " + jqxhr.responseText);
                                }
                            }).done(function (company) {
                                refreshPage();
                            });
                            $(this).dialog("close");
                        },
                        Cancel: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });

        });

        

        function validatePassword(password) {
            const regex = /^(?=.*[A-Za-z])(?=.*\d).{8,}$/;
            return regex.test(password);
        }

        function update(currId) {
            console.log("button clicked");
            let usernameInpt = $("#username").val();
            let passwordInpt = $("#password").val();
            let firstNameInpt = $("#firstName").val();
            let lastNameInpt = $("#lastName").val();
            let roleInpt = $("#role").val();

            if (usernameInpt == null || usernameInpt == "") {
                $(".nameWarning").show();
                return false;
            }
            //if (passwordInpt == null || passwordInpt == "") {
            if (!validatePassword(passwordInpt)) {
                $(".passwordWarning").show();
                return false;
            } else {
                $(".passwordWarning").hide();
            }

            //}
            if (firstNameInpt == null || firstNameInpt == "") {
                $(".fnamedWarning").show();
                return false;
            }
            if (lastNameInpt == null || lastNameInpt == "") {
                $(".lnameWarning").show();
                return false;
            }
            if (roleInpt == null || roleInpt == "") {
                $(".lnameWarning").show();
                return false;
            }


            let requestData = {
                username: usernameInpt,
                password: passwordInpt,
                firstName: firstNameInpt,
                lastName: lastNameInpt,
                role: roleInpt
            };

            $.ajax({
                url: `/api/users/${currId}`,
                headers: { 'x-auth-username': sessionStorage.getItem('username'), 'x-auth-password': sessionStorage.getItem('password') },
                type: "PATCH",
                dataType: "json",
                //contentType: "application/json",
                data: requestData,
                error: function (jqxhr, status, errorThrown) {
                    alert("AJAX error: " + jqxhr.responseText);
                }
            }).done(function (requestData) {
                $("#popupMessage").dialog({
                    modal: true,
                    buttons: {
                        OK: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });
        }


        function refreshPage() {
            $(".nameWarning").hide();
            $(".passwordWarning").hide();
            $(".fnamedWarning").hide();
            $(".fnameWarning").hide();
            $(".lnameWarning").hide();
            $(".namepopWarning").hide();
            $("#username").val("");
            $("#password").val("");
            $("#firstName").val("");
            $("#lastName").val("");
        }
        //get company
        function getUser(id) {
            //console.log("/api/users/" + id);
            $.ajax({
                url: "/api/users/" + id,
                type: "GET",
                dataType: "json",
                error: function (jqxhr, status, errorThrown) {
                    alert("AJAX error: " + jqxhr.responseText);
                }
            }).done(function (user) {
                $("#username").val(user.username);
                $("#password").val(user.password);
                $("#firstName").val(user.firstName);
                $("#lastName").val(user.lastName);
                $("#role").val(user.role);
            });
        }

    </script>
</head>

<body>
    <header>
        <div>
            <a href="index.html">
            <img src="./images/logo_transparent.png" alt="Logo">
            </a>
            <nav>
                <ul>
                    <li><a href="./jobs.html">Job Listings</a></li>
                    <li><a href="./loginTest.html">Job Seekers</a></li>
                    <li><a href="./loginTest.html">Employers</a></li>
                    <button id="signOut">Sign Out</button>
                </ul>
            </nav>
        </div>
    </header>
    <div id="popupMessage" style="display: none;">
        <p>Congratulations.</p>
        <p>Your profile updated.</p>
    </div>
    <div id="deletepopupMessage" style="display: none;">
        <p>Are you sure you want to delete this User.</p>
    </div>

    <div class="hero-image">
        <div class="hero-text">
            <h4>With over 2.3 billion visitors, WorkRight is the #1 destination to find and list incredible jobs.
            </h4>
            <button>WorkRight</button>
        </div>
    </div>
    <div class="container p-3">
        <div class="row">
            <div class="col-4 p-3" id="rolePane" style="display: none">
                <div id="roleDisplay">
                    <h2 class="bg-dark p-2 text-light bg-opacity-50">Job-Seeker</h2>
                </div>
                <h3 id="welcomeBack"></h3>
                <h3 id="nameP"></h3>
                <h4 id="userIndustry">Your industry: Finance</h4>
                <h4 id="userApplications">Current Applications: 3</h4>
                <h4 id="userPostings">Recent postings in your field: 5</h4>
                <h4 id="userNearby">Jobs headquarted in your commute: 2</h4>
            </div>
            <div class="col-4 p-3">
                <h3>Latest Job Postings</h3>
                <thead>
                    <tr>

                        <th scope="col">Job Title</th>
                        <th scope="col">Company Name</th>
                        <th scope="col">Date Posted</th>

                    </tr>
                </thead>
                <tbody id="tableBody">

                </tbody>
            </div>
            <div class="col-4 p-3">
                <h1>Edit Your Profile</h1>

                <div class="form-group">
                    <p id="currentId">Current Id</span></p>
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter new username for user">
                    <p class="nameWarning" style="color: red;">Not a valid user name</p>
                    <p class="namepopWarning" style="color: red;">User name already exist.</p>
                </div>
                <div class="form-group">
                    <label for="password" id="passLbl">Password:</label>
                    <input type="text" class="form-control" id="password" placeholder="Enter password">
                    <p class="passwordWarning" style="color: red;">Password has to be Minimum eight characters, at least
                        one letter and one number</p>
                </div>
                <div class="form-group">
                    <label for="firstName">First Name:</label>
                    <input type="text" class="form-control" id="firstName" placeholder="Enter First Name">
                    <p class="fnameWarning" style="color: red;">Not a valid first name</p>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name:</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name">
                    <p class="lnameWarning" style="color: red;">Not a valid last name</p>
                </div>
                <div class="form-group">
                    <label for="role">Role</label>
                    <select id="role">
                        <option value="user" selected="selected">User</option>
                        <option value="employer">Employer</option>
                        <!--<option value="admin">Admin</option>   I guess admin doesn't use this window, so users and employer don't have this option-->
                    </select>
                </div>
                <button type="submit" id="edit" class="editBtn">Edit Profile</button>
                <button type="submit" id="cancel" class="cancelBtn">Cancel</button>
                <br>
                <button type="submit" id="delete" class="deleteBtn mt-2 mb-2">Delete My Account</button>
                <br>
                <p class="p-3" id="resultMessage"></p>


            </div>
            <div class="col-4">
                <div class="col d-flex justify-content-center align-items-center">
                    <button class="linkBtn" id="toJobs">Find a new job today!</button>
                </div>
                <br>
                <div class="col d-flex justify-content-center align-items-center">
                    <button class="linkBtn" id="toCompanies">Scope out the who's hiring!</button>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div>
            <p>WorkRight &copy; 2023</p>
        </div>
    </footer>
</body>

</html>