<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Work Right</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/styles.css">
        <script>
            $(document).ready(function () {
                $("#user").on("click",function(){
                    window.open('users.html', '_self');
                    });
            });
            $(document).ready(function () {
                $("#company").on("click",function(){
                    window.open('companies.html', '_self');
                    });
            });
        </script>
    </head>
    <body>
        <div>
            <button id="user">To User Table</button>
            <button id="company">Add Company</button>

        </div>
    </body>
</html>