<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkRight | Job Listing </title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">
        <script src="./scripts/job.js"></script>


</head>

<body>
    <header>
        <div>
            <a href="index.html">
            <img id="logo" src="/images/logo_transparent.png" alt="Logo">
            </a>
            <nav>
                <ul>
                    <li><a href="./jobs.html">Job Listings</a></li>
                    <li><a href="./loginTest.html">Job Seekers</a></li>
                    <li><a href="./loginTest.html">Employers</a></li>
                    <button id="signOut">Sign Out</button>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">
        <div class="card mb-5">
            <div class="card-body">
                <h1 class="card-title" id="title">Job Title</h1>
                <h2 class="card-subtitle mb-2 text-muted" id="companyName">Company Name</h2>
                <h3 id="location">Location</h3>
                <h4 id="industry">Industry</h4>
                <h4 id="salary">Salary</h4>
                <h4 id="type">Job Type</h4>
                <h4 id="status">Status</h4>
                <h4 id="createDate">Create Date</h4>
                <p class="card-text" id="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aperiam dolor corrupti harum deserunt inventore assumenda nostrum soluta nobis officiis placeat eveniet exercitationem natus excepturi est, veritatis fugiat? Officiis, earum!</p>
                <!-- <button class="btn btn-primary">Apply</button> -->
                <div id="applicationData">
                    <label for="fullname">Full Name</label>
                    <input type="text" id="fullname" name="fullname">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email">
                    <label for="phone">Phone</label>
                    <input type="text" id="phone" name="phone">
                    <!-- <label for="applied">Applied</label>
                    <input type="checkbox" id="applied" name="applied"> -->
                    <label for="resume">Resume</label>
                    <input type="file" id="resume" name="resume" accept=".pdf">
                    <button onclick="submitApplication()">Submit</button>
                </div>
                
            </div>
        </div>
    </main>

<footer>
    <div>
        <p>WorkRight &copy; 2021</p>

        <div>
            <!--<a href="#"><img src="/images/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="/images/twitter.png" alt="Twitter"></a>
            <a href="#"><img src="/images/instagram.png" alt="Instagram"></a>-->