<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkRight | Search Jobs </title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="./scripts/jobs.js"></script>


</head>
<body>
    <header>
        <div>
            <a href="index.html">
            <img src="/images/logo_transparent.png" alt="Logo" id="logo">
            </a>
            <nav>
                <ul>
                    <li><a href="jobs.html">Job Listings</a></li>
                    <li><a href="loginTest.html">Job Seekers</a></li>
                    <li><a href="loginTest.html">Employers</a></li>
                    <li><a href="loginTest.html"><button id="loginBtn" class="btn btn-secondary">Login</button></a></li>
                </ul>
            </nav>
        </div>
    </header>

<main>
    <!-- search -->
    <div class="search-bar" style="width: 90%; margin: auto;">
        <form id="searchForm">
            <div class="input-group">
                <input type="text" id="postcodeSearchBox" class="form-control" placeholder="Search postcode" maxlength="10">
                <select id="industrySearchBox" class="form-control">
                    <option value="">All Industries</option>
                    <option value="Medical">Medical</option>
                    <option value="Agriculture">Agriculture</option>
                    <option value="Finance">Finance</option>
                    <option value="Information">Information</option>
                    <option value="Catering">Catering</option>
                    <option value="Transportation">Transportation</option>
                    <option value="Insurance">Publishing</option>
                    <option value="Customer Service">Technology</option>
                </select>
                <div class="input-group-append">
                    <button type="submit" id="searchBtn" class="btn btn-secondary">Search</button>
                </div>
            </div>
        </form>
    </div>
    
    <!-- TODO: Get loadmore to work on search-bar too --> 


    <div class="container" style="width: 90%; margin: auto;">
        <div id="jobListings" class="row">
                <!-- // jobs listings apended here -->
            </div>
            <button id="loadMore" class="btn btn-secondary" style="width: 30%; margin: 25px auto;">Load More</button>
        </div>
    </main>


    <!-- TODO: Fix footer overlapping content --> 

        <footer>
            <div>
                <p>WorkRight &copy; 2023</p>
            </div>
            </footer>


</body>
</html>