<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkRight | Home </title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="./scripts/jobs.js"></script>


</head>
<body>
    <header>
        <div>
            <img src="/images/logo_transparent.png" alt="Logo">
            <nav>
                <ul>
                    <li><a href="#">Job Listings</a></li>
                    <li><a href="#">Job Seekers</a></li>
                    <li><a href="#">Employers</a></li>
                </ul>
            </nav>
        </div>
    </header>

<main>
    <!-- search -->
    <div class="search-bar">
        <form id="searchForm">
            <div class="input-group">
                <input type="text" id="locationSearchBox" class="form-control" placeholder="Search location" maxlength="10">
                <select id="industrySearchBox" class="form-control">
                    <option value="">All Industries</option>
                    <option value="Finance">Finance</option>
                    <option value="Chemical">Chemical</option>
                    <option value="Agriculture">Agriculture</option>
                    <option value="Transportation">Transportation</option>
                    <option value="Manufacturing">Manufacturing</option>
                    <option value="Jewelry">Jewelry</option>
                    <option value="Publishing">Publishing</option>
                    <option value="Technology">Technology</option>
                    <option value="Automotive">Automotive</option>
                    <option value="Education">Education</option>
                    <option value="Hospitality">Hospitality</option>
                </select>
                <div class="input-group-append">
                    <button type="submit" id="searchBtn" class="btn btn-secondary">Search</button>
                </div>
            </div>
        </form>
    </div>
    

</main>
<div class="container" style="width: 60%; margin: auto;">
    <div id="jobListings" class="row">
                <!-- // jobs listings apended here -->
            </div>
            <button id="loadMore" class="btn btn-secondary">Load More</button>
        </div>
    </main>


        <footer>
            <div>
                <p>WorkRight &copy; 2023</p>
            </div>


</body>
</html>