<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkRight Login Page</title>
    <link rel="icon" type="image/x-icon" href="./images/favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./styles/main.css">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="./scripts/loginTest.js">
        
    </script>
</head>

<body>
    <header>
        <div>
            <img src="./images/logo_transparent.png" alt="Logo">
            <nav>
                <ul>
                    <li><a href="#">Job Listings</a></li>
                    <li><a href="#">Job Seekers</a></li>
                    <li><a href="#">Employers</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="hero-image">
        <div class="hero-text">
            <h4>With over 2.3 billion visitors, WorkRight is the #1 destination to find and list incredible jobs.
            </h4>
            <button>Update my Details</button>
        </div>
    </div>
    <!-- <div style="height: 450px; align-items: center;">
        <button id="user">To User Table</button>
        <button id="company">Add Company</button>

    </div>-->

    <div class="container p-3" id="loginPane">
        <div class="row p-3">
            <div class="col-4 p-3">
            </div>
            <div class="col-4 p-3" id="centerContent">
                <div class="p-3" id="loginPane" >
                    Username: <input class="mb-3" type="text" name="username"><br>
                    Password: <input class="mb-3" type="password" name="password"><br>
                    <button id="loginButton">Login</button>
                </div>
                <div class="p-3" id="registerPane">
                    First Name: <input class="mb-3" type="text" name="firstName"><br>
                    Last Name: <input class="mb-3" type="text" name="lastName"><br>
                    Username: <input class="mb-3" type="text" name="newUsername"><br>
                    Password: <input class="mb-3" type="password" name="newPass1"><br>
                    Password (repeated): <input class="mb-3" type="password" name="newPass2"><br>
                    <button id="registerButton">Register</button>
                </div>
            </div>
            <div class="col-4 p-3">
                
            </div>
        </div>
    </div>
    <div class="container p-3" id="profile">
        <div class="row p-3">
            <div class="col-4 p-3">
                
            </div>
            <div class="col-4 p-3">
                <h3 id="welcomeBack"></h3>
                <h3 id="nameP"></h3>
                <p>Your industry: Finance</p>
                <p>Current Applications: 3</p>
                <p>Recent postings in your field: 5</p>
                <p>Jobs headquarted in your commute: 2</p>
            </div>
            <div class="col-4 p-3">

            </div>
        </div>

    </div>
        <footer>
            <div>
                <p>WorkRight &copy; 2023</p>
            </div>
        </footer>
</body>

</html>