<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Users</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="./styles/styles.css">
        <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
        <script src="./scripts/users.js">
            // $(document).ready(function () {

            //         const tableBody = $("#tableBody");
                                
            //         $.get("http://localhost:7077/api/users", (data) => { //http:// is required!
            //             for (let i = 0; i < data.length; i++) {
            //                 let tableRow = $("<tr></tr>");
                        
            //                 let idCell = $("<td></td>").text(data[i].ID);
            //                 let usernameCell = $("<td></td>").text(data[i].username);
            //                 let passwordCell = $("<td></td>").text(data[i].password);
            //                 let firstNameCell = $("<td></td>").text(data[i].firstName);
            //                 let lastNameCell = $("<td></td>").text(data[i].lastName);
                        
            //                 tableRow.append(idCell, usernameCell, passwordCell, firstNameCell, lastNameCell);
            //                 tableBody.append(tableRow);
            //           }
            //         }).fail((jqXHR, textStatus, errorThrown) => {
            //             console.error("Error:", errorThrown);
            //           });
            //         });
        </script>
    </head>

    <body>
        <div class="usersTable container">
                    <div class="row"> 
                            <div class="col-4">
                                <h1>Enter New User</h1>
                                
                                    <div class="form-group">
                                        <label for="username">Username:</label>
                                        <input type="text" class="form-control" id="username" placeholder="Enter new username for user">
                                        <p class="nameWarning" style="color: red;">Not a valid user name</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password:</label>
                                        <input type="text" class="form-control" id="password" placeholder="Enter password">
                                        <p class="passwordWarning" style="color: red;">Not a valid password</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="firstName">First Name:</label>
                                        <input type="text" class="form-control" id="firstName" placeholder="Enter First Name">
                                        <p class="fnameWarning" style="color: red;">Not a valid first name</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="lastName">Last Name:</label>
                                        <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name">
                                        <p class="lnameWarning" style="color: red;">Not a valid last name</p>
                                    </div>
                                    <button type="submit" class="addBtn">Enter new User</button>
                                    <br>
                                    <p id="resultMessage"></p>
                                
                            
                            </div>
                            <div class="col-4">
                            
                                    <h1>Users</h1>
                        <table class="table">
                            <thead>
                                    <tr>
                                        
                                        <th scope="col">ID</th>
                                        <th scope="col">username</th>
                                        <th scope="col">password</th>
                                        <th scope="col">first name</th>
                                        <th scope="col">last name</th>
                                            
                                    </tr>
                            </thead>
                            <tbody id="tableBody">

                            </tbody>
                        </table>

                    </div>
                    <div class="col-4">
                    <!--empty space-->
                    </div>  
            </div>
        </div>
    </body>

</html>